body{
    font-family: "Dancing Script";
    background-color: #02010a;
}

#contenido{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    animation: animacioninicio 2s;
    
}

section{
    display: grid;
    width: 100%;
    }

header{
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    color: #FFF;
    
}

header h1{
    text-shadow : 2px 2px #02010a ;
   position: absolute;

  
}
img{
    box-shadow: 2px 2px #02010a;
   
}

header nav{
    display: flex;
    float: right;
}

header li{
    display: inline-block;
    padding: 10px;
}
header a{
    text-decoration: none;
    color: #FFF;
}

#imagencentral{
    background-color: #82c3a6;
   
}

#imagencentral img{
   display: flex;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   
}
#imagensecundaria{
    border: 1px;
    background-color: #d5c75f;
    display: flex; 
    flex-direction: row; 
  
}
#imagensecundaria figure{
    width: 100%;

    
}

#imagensecundaria figcaption{
  text-align: center;
    
    
}
#imagensecundaria img{
    width: 100%;
    margin: auto;
    
}
footer{
    border-radius: 0 0 10px 10px;
    background-color: #5b7989;
    border-radius: 0 0 10px 10px;
    background-color: #c6d5c5;
    
    
}

div .fot{
    position: relative;
    width: 25%;
   float: left;
   text-align: center;
}

.fot p{
    
    padding: 10px;
}
.fot img {
    
   width: 20px;
   height: auto;
   padding-right: 15px;
   box-shadow: 0px 0px #02010a;
}
.fot a{
    text-decoration: none;
}
.activo{
    text-decoration: underline;
}

.rotate:hover{
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    box-shadow: 2px 2px #82c3a6;
}

.translacion:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px #82c3a6;
}
@-webkit-keyframes animacioninicio{
0%{
    margin-top: 150%; 
}

60%{
margin-top: -20%;
}
100%{
margin-top: 0%;
}
}

#galeria{
    border: 1px;
    background-color: #d5c75f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
   
}

.columna{
    
flex-basis: 33%;
}
.columna img{
    width: 90%;
    height: auto;
    padding: 10px;
    box-shadow: 0px 0px #000;
    
}

.blur{
    filter: blur(10px);
}
.gris{
    filter: grayscale(100%);
}
.sepia{
    filter: sepia(90%);
}




@media (max-width:900px){

    #imagensecundaria{
        border: 1px;
        background-color: #d5c75f;
        display: flex; 
        flex-direction: column; 
      
    }
    #imagensecundaria figure{
        width: 90%;

    }

    div .fot{
        position: relative;
        width: 100%;
       float: left;
       text-align: center;
    }


    header{
        background-color: #5b7989;
        border-radius: 10px 10px 0 0;
        color: #FFF;
        
    }
    
    header h1{
        text-shadow : 2px 2px #02010a ;
        position: relative;
        text-align: center;
    
      
    }
    
    
    header nav{
        
        float: none;
       
        
    }
    header ul{
    
        margin: 10px auto;
        
    }
    .columna{
    
        flex-basis: 100%;
        align-content: center;
        }
        .columna img{
            display: block;
            margin: 0 auto;
           
            }

    
    
  

}


